* {
    box-sizing: border-box;
    padding: 0;
    max-resolution: 0;
    background-color: lightblue;
}
button {
    padding: 5px 8px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
    background-color: #fff;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: 60px;
    color: black;
    position: static;
}